.jumbotron , nav{
    background-color: black !important;
    height: 70px;
}
#contactJumbo, nav {
    height: 70px;
}

#sidenav {
    /* background-color: #383d3e; */
    height: 100%
}

.card-title {
    font-size: 27px;
}

.card-content {
    text-align: center;
}

.card-action {
    text-align: center;
    color: #E71D36
}

div#sidenav {
    /* background-color: #383d3e; */
    text-align: center;
}

p#homeEmail {
    color: white;
}

#myName{
    text-align: center;
}

body {
    /* background-color: #7e4e60; */
    font-family: DejaVu Sans Mono, monospace;
    /* background-image: url(../images/john-westrock-g1NR2UZjjws-unsplash.jpg); */
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(215, 21, 58, 1) 100%);
}

a {
    /* background-color: #383d3e; */
    color: #E71D36
}

#navlink {
    border-bottom: 1px solid black;
}

li#navlink {
    padding-top: 15px;
    font-size: 20px;
    color: black;
}

.card-title {
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    border-bottom: 1px solid white;
}

a#navtext:hover, a#topnav-links:hover, i#topnav-links:hover {
    color: red;
}

#dl {
    color: white;
}

#dl:hover {
    color: red;
}

a#navtext {
    /* color: #e71d36; */
    text-align: center;
    color: white
}

#navbar-text {
    color: #E71D36
}

div#input {
    margin-top: 7%;
    border: solid 1px black;
    background-color: #383d3e;
}

button#submit {
    background-color: #e71d36;
}

.col.s6, .col.s12 {
    color: #e71d36;
    padding-top: 25px;
}

img {
    height: 300px;
}